USE [master]
GO
/****** Object:  Database [PMDB]    Script Date: 7/5/2022 11:13:01 PM ******/
CREATE DATABASE [PMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMDB]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[createdOn] [datetime2](7) NOT NULL,
	[IdOfCreator] [int] NOT NULL,
	[lastChange] [datetime2](7) NOT NULL,
	[idOfLastChanger] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](64) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[createdOn] [datetime2](7) NOT NULL,
	[creatorId] [int] NOT NULL,
	[lastChange] [datetime2](7) NOT NULL,
	[lastChangerId] [int] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks_projects]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks_projects](
	[taskId] [int] NOT NULL,
	[projectId] [int] NOT NULL,
 CONSTRAINT [tasks_projects_pk] PRIMARY KEY CLUSTERED 
(
	[taskId] ASC,
	[projectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[title] [varchar](64) NOT NULL,
	[createdOn] [datetime2](7) NOT NULL,
	[creatorId] [int] NOT NULL,
	[lastChange] [datetime2](7) NOT NULL,
	[lastChangerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teams_projects]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teams_projects](
	[teamId] [int] NOT NULL,
	[projectId] [int] NOT NULL,
 CONSTRAINT [PK_teams_projects] PRIMARY KEY CLUSTERED 
(
	[teamId] ASC,
	[projectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](64) NOT NULL,
	[lastName] [varchar](64) NOT NULL,
	[username] [varchar](64) NOT NULL,
	[email] [varchar](64) NOT NULL,
	[age] [tinyint] NOT NULL,
	[passwordHash] [varchar](300) NOT NULL,
	[createdOn] [datetime2](7) NOT NULL,
	[lastChange] [datetime2](7) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[creatorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_teams]    Script Date: 7/5/2022 11:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_teams](
	[userId] [int] NOT NULL,
	[teamId] [int] NOT NULL,
 CONSTRAINT [users_teams_pk] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[teamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tasks_projects]  WITH CHECK ADD  CONSTRAINT [FK_projecT] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tasks_projects] CHECK CONSTRAINT [FK_projecT]
GO
ALTER TABLE [dbo].[tasks_projects]  WITH CHECK ADD  CONSTRAINT [FK_task] FOREIGN KEY([taskId])
REFERENCES [dbo].[Tasks] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tasks_projects] CHECK CONSTRAINT [FK_task]
GO
ALTER TABLE [dbo].[teams_projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[teams_projects] CHECK CONSTRAINT [FK_Projects]
GO
ALTER TABLE [dbo].[teams_projects]  WITH CHECK ADD  CONSTRAINT [FK_Teams] FOREIGN KEY([teamId])
REFERENCES [dbo].[Teams] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[teams_projects] CHECK CONSTRAINT [FK_Teams]
GO
ALTER TABLE [dbo].[users_teams]  WITH CHECK ADD  CONSTRAINT [FK_team] FOREIGN KEY([teamId])
REFERENCES [dbo].[Teams] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_teams] CHECK CONSTRAINT [FK_team]
GO
ALTER TABLE [dbo].[users_teams]  WITH CHECK ADD  CONSTRAINT [FK_user] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_teams] CHECK CONSTRAINT [FK_user]
GO
USE [master]
GO
